<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <form class="input-group-form">
                <h4 class="sample-title">Create Person</h4>
                <igx-input-group type="box" >
                    <input igxInput name="firstName" type="text" [(ngModel)]="user.firstName"  />
                    <label igxLabel for="firstName">First Name</label>
                    <igx-suffix>
                        <igx-icon name="person"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group type="box" style="margin-top: 10px">
                    <input igxInput name="lastName" type="text" [(ngModel)]="user.lastName" />
                    <label igxLabel for="lastName">Last Name</label>
                    <igx-suffix>
                        <igx-icon name="person"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group type="box" style="margin-top: 10px">
                    <label igxLabel for="phone">Phone</label>
                    <input igxInput name="phone" type="text" [(ngModel)]="user.phone" />
                    <igx-suffix>
                        <igx-icon name="phone"></igx-icon>
                    </igx-suffix>
                    <igx-hint position="start">Ex.: 888 123 456</igx-hint>
                </igx-input-group>
                <igx-input-group type="box" style="margin-bottom: 10px">
                    <label igxLabel for="email">Email Address</label>
                    <input igxInput name="email" type="email" [(ngModel)]="user.email" />
                    <igx-suffix>
                        <igx-icon name="email"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <div class="igx-combo">
                    <igx-combo #combo1 name="position" class="input-container" width="100%" [itemsMaxHeight]="130" [data]="position" [(ngModel)]="user.position"
                        placeholder="Position" searchPlaceholder="Search..." required [type]='"box"'>
                    </igx-combo>
                </div>
                <div class="igx-datePicker">
                    <igx-datePicker name="date" (onSelection)="onDateSelection($event)"></igx-datePicker>
                </div>
                <div class="button-wrapper">
                    <button igxButton="raised" (click)="onCreateContact($event)" igxRipple>Create</button>
                </div>
            </form>
        </article>
    </section>
</div>
